@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
  <h1 class="display-4">Welcome to my Custom Review Site!</h1>
  <hr class="my-4">
  <p class="lead">To submit your review,</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" asp-page="/SubmitReview" role="button">Click Here</a>
  </p>
</div>